.program {
    padding: 120px 0 80px 0;
    margin-top: 32px;
    background-size: contain;
}

.program_title {
    color: #fff;
    width: 100%;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.pro_respon {

    display: flex;
    box-sizing: border-box;
}

.program__content
.program__phone{
    width: 50%;
}

.program__content{
    padding: 60px 48px 24px;

}
.pro__content {
    color: #fff;
    width: 100%;
    /* font-size: medium; */
    margin-top: 16px;
    margin-bottom: 8px;
}

.jss1185 {
    color: #fff;
    border: none;
    padding: 8px 32px;
    font-size: medium;
    margin-top: 16px;
    font-weight: 700;
    border-radius: 4px;
    background-color: #fb4226 !important;
}

.MuiButton-containedPrimary {
    color: #fff;
    background-color: #fb4226 !important;
}

.MuiButton-contained {
    
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    
}

.MuiButton-root {
    color: white;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.jss123 {
    color:white;
    margin-left: -203px;
    margin-top: 15px;
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
.pro__link{
    padding: 16px;
    margin-top: 16px;
    margin-right: auto;
}
.pro__left{
    width: calc(100% + 32px);
   
    box-sizing: border-box;
   
    
    
}


.pro__phone{
    height: 430px;
    width: 200px;
    display: block;
    margin-left: 160px
    
}

.pro__img{
    display: block;
    bottom: 11px;
    right: 5px;
    height: auto;
    width: 189px;
    border-radius: 20px;
}

