

.footer {
    background-color: #212121;
}

.footer__content {
    border-top: 1px white solid;
}

.footer__img {
    width: 165px;
    height: 102px;
    margin-top: 24px;
}

.footer img {
    width: 100px;
}



h5 {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}
.center__title{
    padding: 20px 0 10px;
}