.btn__mua{
    color: #fff;
    cursor: pointer;
    padding: 7.2px 24px;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    background-color: #fb4226;
}
.logo span{
    color: #FFFF00;
}